[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Håvard Kråkenes
	email = hakr@equinor.com
[core]
	excludesfile = ~/.local_gitignore
[credential]
	helper = osxkeychain
